* {
    box-sizing: border-box;
}

/* LAYOUT */

.main-layout {
    margin:  0 auto;
    max-width: 600px;
}


/* COMPONENTS */

header {
    background-color: #ff7f00;
    height: 100px;
}

.header-warp {
    margin-bottom: 0.973rem;
}

img {
    width: 100px;
    height: 100px;
    /* background-color: rgba(220, 220, 220, 0.562); */
}

.icon {
    width: 40px;
    height: 40px; 
}

/* main nav */

.main-nav{
    width: 100px;
}

.main-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    width: 100px;
    
    
}

.logo {
    width: 150px;
    height: 31px;
}

.editor-container {
    display: none;
    margin-bottom: 0.973rem;
}

.editor-contrler {
    width: 270px;
    height: 275.5px;
}

.gallery {
    margin-bottom: 0.973rem;
}

footer {
    height: 100px;
}
/* li >*:not(:last-child){
    border-right: 2px solid black;

} */
/* .main-nav>*:not(:last-child) {
    /* margin-inline-end: 100px;} */
    


.main-nav a:hover {
    color: #000;
}

/* HELPERS */

/* flex */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.dir-column {
    flex-direction: column;
}
/* list helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* background */
.bgc {
    background-color: #ff7f00;
  
}

/* BTNS */

@media (max-width: 640px) {
    .main-layout {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }
    .editor {
        flex-direction: column;
    }
   
}

@media (min-width: 1020px){
    .main-layout{
        max-width: 980px;
    }
}

